

<div class="content-position-relative">
  <div class="container mt-3">
    <h1>Credit Card Theft Detector</h1>
    <p>Enter your details to see if you have ben hacked</p>
  </div>
  <div class="container card-margin">
    <div class="row">
      <div class="col col-sm-6 d-flax align-items-center">
        <div class="cc-container">
          <div class="creditcard">
            <p>CC goes here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="form-container">
      <div class="field-container">
        <label for="cardnumber">Card Number</label>
        <input id="cardcumber" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
      

    </div>




  </div>






</div>
